<div class="request" align="center">
  <h3>Request Form</h3>

  <%= simple_form_for @contact, url: contacts_path, remote: true do |f| %>
    <%= f.input :first_name, placeholder: 'First Name', label: false %>
    <%= f.input :last_name, placeholder: 'Last Name', label: false %>
    <%= f.input :address, placeholder: 'Address', label: false %>
    <%= f.input :city, placeholder: 'City', label: false %>
    <%= f.input :zip, placeholder: 'Zip/Postal Code', label: false %>
    <%= f.input :phone, placeholder: 'Phone', label: false %>
    <%= f.input :email, placeholder: 'Email', label: false %>
    <%= f.input :date, placeholder: 'Preferred Date and Time', label: false %>
    <%= f.input :message, as: :text, :input_html => {:rows => 10}, placeholder: 'Message', label: false %>
    <%= f.submit 'Send Message' %>
  <% end %>

</div>
